.panel
  .panel__container
    a.panel__web(href="#")
      .panel__inner
        img.panel__icon(src="./assets/images/Panel/web.png")
        .panel__text Sprawdź wolne domeny internetowe
    a.panel__client(href="#")
      .panel__inner
        img.panel__icon(src="./assets/images/Panel/client.png")
        .panel__text Panel klienta
    a.panel__post(href="#")
      .panel__inner
        img.panel__icon(src="./assets/images/Panel/post.png")
        .panel__text Panel poczty
    
  