.newsItem.-displayNone
  .newsItem__date 28.12.2015
  .newsItem__title Smartfony prześcigneły desktopy pod względem ilości przeglądania 
  .newsItem__text Przy projektowaniu zachowujemy zasady użyteczności stron (strona dobrze odźwierciedla ofertę firmy, łatwo znaleźć informacjee na stronie, dobra nawigacja, dobrze sprawująca się grafika). Wykonujemy dedykowaną grafikę zgodnie z wymaganiami Klienta z przekazaniem praw autorskich. Optymalizujemy strony pod wyszukiwarkę google - przyjazne linki, metatagi, odpowiednio ustawione nagłówki, etc...
  button.newsItem__button Więcej