.menu
  ul.menu__list
    li.menu__item
      a.menu__link(href="#") o firmie
    li.menu__item
      a.menu__link(href="#") strony internetowe
      ol.menu__dropDown
        li.menu__item.-second
          a.menu__link(href="#") sklepy i systemy sprzedaży
        li.menu__item.-second 
          a.menu__link(href="#") systemy rezerwacji stanowisk
        li.menu__item.-second
          a.menu__link(href="#") strony responsywne
    li.menu__item 
      a.menu__link(href="#") domeny
    li.menu__item 
      a.menu__link(href="#") hosting
    li.menu__item 
      a.menu__link(href="#") pozycjonowanie
      li.menu__item 
        a.menu__link(href="#") projekty graficzne
        ol.menu__dropDown.-displayNone
          li.menu__item.-second
            a.menu__link(href="#")  sklepy i systemy sprzedaży
          li.menu__item.-second
            a.menu__link(href="#") systemy rezerwacji stanowisk
          li.menu__item.-second 
            a.menu__link(href="#") strony responsywne
    li.menu__item
      a.menu__link(href="#") prezentacje
    li.menu__item
      a.menu__link(href="#") kontakt

   

