.aboutUs
  .aboutUs__container
    .aboutUs__item
      .aboutUs__title O firmie WaWMedia
      .aboutUs__text Kompleksowe podjeście do projektu, wiedza i doświadczenie to nasze atuty. Dzięki wykorzystaniu Internetu przekazanie informacji o firmie potencjalnym klientom oraz kreowanie wizerunku własnej marki jest możliwe nieprzerwanie. Internet udowodnił swoją przydatność w biznesie, a samo w nim zaistnienie znacznie przewyższa skuteczność tradycyjnych działan reklamowych. Oferując nieograniczone możliwości poszukiwania kontraktów handlowych, stał się najpotężniejszym narzędziem komunikowania się i prezentacji. 
      .aboutUs__more
        a.aboutUs__link(href="#") więcej
    .aboutUs__item
      .aboutUs__title Co nas wyróżnia
      .aboutUs__text Kompleksowe podjeście do projektu, wiedza i doświadczenie to nasze atuty. Dzięki wykorzystaniu Internetu przekazanie informacji o firmie potencjalnym klientom oraz kreowanie wizerunku własnej marki jest możliwe nieprzerwanie. Internet udowodnił swoją przydatność w biznesie, a samo w nim zaistnienie znacznie przewyższa skuteczność tradycyjnych działan reklamowych. Oferując nieograniczone możliwości poszukiwania kontraktów handlowych, stał się najpotężniejszym narzędziem komunikowania się i prezentacji. 
      .aboutUs__more
        a.aboutUs__link(href="#") więcej