.offerItem 
  img.offerItem__img(src="./assets/images/OfferItem/img1.png")
  .offerItem__title Strony Internetowe 
  .offerItem__text Przy projektowaniu zachowujemy zasady użyteczności stron (strona dobrze odźwierciedla ofertę firmy, łatwo znaleźć informacje na stronie, dobra nawigacja, dobrze sprzedająca grafika). Wykonujemy dedykowaną grafikę zgodnie z wymaganiami Klienta z przekazaniem praw autorskich.
  button.offerItem__button więcej