extends ./../components/layout/_layout

block content
	include ../components/Loader/Loader
	include ../components/Header/Header
	include ../components/Banner/Banner
	include ../components/News/News
	include ../components/Footer/Footer
