.gallery
  .gallery__title Galeria
  .gallery__slick
    a.gallery__link(href="./assets/images/Gallery/img1.png")
      img.gallery__img(src="./assets/images/Gallery/img1.png" alt="First imags")
    a.gallery__link(href="./assets/images/Gallery/img2.png")
      img.gallery__img(src="./assets/images/Gallery/img2.png" alt="Second image")
    a.gallery__link(href="./assets/images/Gallery/img3.png")
      img.gallery__img(src="./assets/images/Gallery/img3.png" alt="Third image ")
    a.gallery__link(href="./assets/images/Gallery/img4.png")
      img.gallery__img(src="./assets/images/Gallery/img4.png" alt="Fourth imsge")
    a.gallery__link(href="./assets/images/Gallery/img2.png")
      img.gallery__img(src="./assets/images/Gallery/img2.png" alt="Fifth image")
