.gallery
  .gallery__title Galeria
  .gallery__slick
    .gallery__item
      img.gallery__img(src="./assets/images/Gallery/img1.png" alt="img")
    .gallery__item
      img.gallery__img(src="./assets/images/Gallery/img2.png" alt="img")
    .gallery__item
      img.gallery__img(src="./assets/images/Gallery/img3.png" alt="img")
    .gallery__item
      img.gallery__img(src="./assets/images/Gallery/img4.png" alt="img")
    .gallery__item
      img.gallery__img(src="./assets/images/Gallery/img2.png" alt="img")
