.footer
  display: block
  background-color: $client 
  line-height: 1.4

  &__container
    display: flex
    flex-wrap: wrap
    width: 80%
    margin: auto

    +max($bp-xs)
      width: 100%

  &__item
    width: 25%
    border-left: 1px solid $background-item
    padding: 20px 10px

    &.-newsletter
      padding: 20px 25px
      background-color: $light-blue

    +max($bp-md)
      width: 50%
      border-bottom: 1px solid $background-item

    +max($bp-xs)
      width: 100%
      border-left: 0
      border-bottom: 1px solid $background-item

  &__title 
    font-size: 18px
    color: $white
    padding-bottom: 15px

  &__link 
    color: $grey-text
    font-size: 12px 
    text-decoration: none

  &__text 
    font-size: 12px
    color: $grey-text
    
    &.-font-size-10
      font-size: 10px

    .footer__item.-newsletter > & 
      color: $white 

    .footer__item.-newsletter > .footer__form > .footer__agree > & 
      color: $white


  &__input 
    height: 36px
    width: 100%
    margin: 35px 0px 15px 0px
    padding: 10px
    border: 0

  &__button 
    width: 100%
    background-color: $client
    border: 0
    tezt-align: center
    padding: 10px 0px
    margin-bottom: 10px
    font-size: 14px
    color: $button-text

  &__checkbox 
    display: inline-block

  &__agree 
    display: flex
    flex-wrap: wrap
    gap: 5px

  &__textLink 
    display: inline-block
    color: $grey-text
    font-size: 10px

    .footer__item.-newsletter > .footer__form > .footer__agree > & 
      color: $white

  &__inner 
    display: flex 
    flex-wrap: nowrap
    aling-items: center
    gap: 10px
    padding-bottom: 10px

  &__icon 
    object-fit: contain