.footer
  .footer__container
    .footer__item
      .footer__title NA SKRÓTY
      ul.footer__list
        li.footer__element 
          a.footer__link(href="#") Montaż kominów w Warszawie i okolicach
        li.footer__element
          a.footer__link(href="#") Sprzedaż kominów w Warszawie i okolicach
        li.footer__element
          a.footer__link(href="#") Nowoczesne kominki do zabudowy
        li.footer__element
          a.footer__link(href="#") Stylowe kominki wolnostojące
    .footer__item
      .footer__title INFORMACJE O STRONIE
      ul.footer__list
        li.footer__element 
          a.footer__link(href="#") Polityka prywatności
        li.footer__element
          a.footer__link(href="#") Regulamin użytkowania strony
        li.footer__element
          a.footer__link(href="#") Mapa strony
    .footer__item.-newsletter
      .footer__title NEWSLETTER
      .footer__text Jeżeli chcą Państwo być na bierząco informowani o nowościach w kwestii stron internetowych, zapraszamy do zapisania się na nasz "newsletter". 
      form.footer__form(action="")
        input.footer__input(type="email" placeholder="twoj@email" required)
        button.footer__button Dodaj e-mail do listy newsletter
        .footer__agree
          input.footer__checkbox(type="checkbox" required)
          .footer__text.-font-size-10 Akceptuj
          a.footer__textLink(href="#") politykę prywatności
          .footer__text.-font-size-10 firmy KLAMEX
    .footer__item 
      .footer__title SZYBKI KONTAKT
      .footer__inner
          img.footer__icon(src="./assets/images/Footer/phone.png")
          .footer__text 602 491 262
      .footer__inner
          img.footer__icon(src="./assets/images/Footer/mail.png")
          .footer__text biuro@wawmedia.pl
      .footer__title DOJAZD
      .footer__inner
        img.footer__icon(src="./assets/images/Footer/drive.png")
        .footer__text ul. Erazma Ciołka 13 p. 418 
          br
          a.footer__link(href="#") Zobacz jak do nas dojechać >>
