.mainSite 
  .mainSite__container
    .mainSite__title W naszej ofercie
    .mainSite__slick
      include ../OfferItem/OfferItem
      include ../OfferItem/OfferItem
      include ../OfferItem/OfferItem
      include ../OfferItem/OfferItem
      include ../OfferItem/OfferItem
      include ../OfferItem/OfferItem
  .mainSite__container
    .mainSite__title Informacje
    .mainSite__secondSlick
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    
