.news
  .news__title.-first Informacje
  .news__year(id="y2015")
    .news__title 2015
    .news__container(id="m10")
      button.news__month
        .news__monthTitle Październik
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m09")
      button.news__month
        .news__monthTitle Wrzesień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m08")
      button.news__month
        .news__monthTitle Sierpień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m07")
      button.news__month
        .news__monthTitle Lipiec
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m06")
      button.news__month
        .news__monthTitle Czerwiec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
  .news__year(id="y2014")
    .news__title 2014
    .news__container(id="m12")
      button.news__month
        .news__monthTitle Grudzień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m11")
      button.news__month
        .news__monthTitle Listopad
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m10")
      button.news__month
        .news__monthTitle Październik
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m09")
      button.news__month
        .news__monthTitle Wrzesień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m08")
      button.news__month
        .news__monthTitle Sierpień
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m07")
      button.news__month
        .news__monthTitle Lipiec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m06")
      button.news__month
        .news__monthTitle Czerwiec
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m05")
      button.news__month
        .news__monthTitle Maj
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m04")
      button.news__month
        .news__monthTitle Kwiecień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m03")
      button.news__month
        .news__monthTitle Marzec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m02")
      button.news__month
        .news__monthTitle Luty
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m01")
      button.news__month
        .news__monthTitle Styczeń
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
  .news__year(id="y2013")
    .news__title 2013
    .news__container(id="m12")
      button.news__month
        .news__monthTitle Grudzień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m11")
      button.news__month
        .news__monthTitle Listopad
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m10")
      button.news__month
        .news__monthTitle Październik
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m09")
      button.news__month
        .news__monthTitle Wrzesień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m08")
      button.news__month
        .news__monthTitle Sierpień
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m07")
      button.news__month
        .news__monthTitle Lipiec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m06")
      button.news__month
        .news__monthTitle Czerwiec
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m05")
      button.news__month
        .news__monthTitle Maj
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m04")
      button.news__month
        .news__monthTitle Kwiecień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m03")
      button.news__month
        .news__monthTitle Marzec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container(id="m02")
      button.news__month
        .news__monthTitle Luty
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container(id="m01")
      button.news__month
        .news__monthTitle Styczeń
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem