.news
  .news__title.-first Informacje
  .news__year
    .news__title 2015
    .news__container
      button.news__month
        .news__monthTitle Październik
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container
      button.news__month
        .news__monthTitle Wrzesień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container
      button.news__month
        .news__monthTitle Sierpień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container
      button.news__month
        .news__monthTitle Lipiec
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container
      button.news__month
        .news__monthTitle Czerwiec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
  .news__year
    .news__title 2014
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Grudzień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Listopad
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Wrzesień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Sierpień
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Lipiec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Czerwiec
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Maj
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Kwiecień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Marzec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Luty
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Styczeń
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
  .news__year
    .news__title 2013
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Grudzień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Listopad
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Wrzesień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Sierpień
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Lipiec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Czerwiec
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Maj
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Kwiecień
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Marzec
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Luty
        .news__itemLength
      include ../NewsItem/NewsItem
    .news__container.-displayNone
      button.news__month
        .news__monthTitle Styczeń
        .news__itemLength
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem
      include ../NewsItem/NewsItem