.banner
  .banner__slick
    a.banner__item(href="#")
      img.banner__image(src="./assets/images/Banner/banner.png" alt="banner")
    a.banner__item(href="#")
      img.banner__image(src="./assets/images/Banner/banner.png" alt="banner")
    a.banner__item.videobox(href='#').-loading-video
      video.banner__video(loop='loop', muted='muted', autoplay='autoplay', preload="none")
        source(type='video/mp4', src='./assets/images/banner/video.mp4')
    a.banner__item.youtube(href='#')
      iframe.banner__youtube(src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist=QV5EXOFcdrQ&start=1" frameborder="0" allowfullscreen)