.banner
  .banner__slick
    a.banner__item(href="#")
      img.banner__image(src="./assets/images/Banner/banner.png" alt="banner")
    a.banner__item(href="#")
      img.banner__image(src="./assets/images/Banner/banner.png" alt="banner")
    a.banner__item.videobox(href='#').-loading-video
      video.banner__video(loop='loop', muted='muted', autoplay='autoplay', preload="none")
        source(type='video/mp4', src='./assets/images/banner/video.mp4')